In [ ]:
# importar librerias de manipulacion de datos
import numpy as np
import pandas as pd
# importar librerias del sistema
import os
from pathlib import Path
# libreria para fechas
from dateutil.parser import parse

In [423]:
# Ruta del proyecto
root_dir = Path(".").resolve().parent
root_dir

WindowsPath('C:/Users/romario.silva/Documents/ESEIT/Herramientas y Lenguajes para Big Data/BigData2022B')

In [425]:
# ruta del proyecto
#filename = input("Ingrese el nombre de archivo: ")
filename = "llamadas123_julio_2022.csv"
data_dir = "raw"
file_path = os.path.join(root_dir,"data",data_dir, filename)
print(file_path)

# C:\Users\romario.silva\Documents\ESEIT\Herramientas y Lenguajes para Big Data\BigData2022B\data\raw

C:\Users\romario.silva\Documents\ESEIT\Herramientas y Lenguajes para Big Data\BigData2022B\data\raw\llamadas123_julio_2022.csv

In [426]:
# leer archivo
#data = pd.read_csv(file_path, encoding="latin-1", sep=";")
data = pd.read_csv(file_path, encoding="latin-1", sep=";")
# copia de df original
new_data = data.copy()

In [483]:
# mostrar primeras filas
new_data.head(100)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,Años,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,Años,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,Años,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bolívar,0,NaN,NaN,Privada,Herido,ALTA,NaT
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaquén,33,Años,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
95,CRU-00278619-22,2022-07-01 08:25:28,7,Bosa,26,Años,MASCULINO,Sur Occidente,Trastorno Mental,MEDIA,2022-07-01 12:52:33
96,CRU-00278642-22,2022-07-01 08:25:30,11,Suba,0,NaN,NaN,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA,NaT
97,CRU-00278642-22,2022-07-01 08:25:30,11,Suba,33,Años,FEMENINO,Norte,Inconsciente / Paro cardiorespiratorio,CRITICA,NaT
98,CRU-00278637-22,2022-07-01 08:26:43,14,Los Mártires,78,Años,MASCULINO,Sur Occidente,Inconsciente / Paro cardiorespiratorio,CRITICA,NaT
99,CRU-00278632-22,2022-07-01 08:28:11,16,Puente Aranda,0,NaN,NaN,Norte,Trastorno Mental,ALTA,NaT

In [484]:
# ver df
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  int64
 5   UNIDAD                             6831 non-null   object
 6   GENERO                             6839 non-null   object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(7)
memory usage: 1.1+ MB

In [464]:
new_data["TIPO_INCIDENTE"].value_counts(dropna=False)

Herido                                    3324
Inconsciente / Paro cardiorespiratorio    1836
Evento Respiratorio                       1703
Convulsi¢n                                1177
Enfermo                                    828
Trastorno Mental                           758
Dolor Tor cico                             705
Intento de Suicidio                        674
Accidente Cerebro Vascular                 391
S¡ntomas Gastrointestinales                377
Ca¡da de Altura                            312
Patolog¡a Ginecobsttrica                  275
Intoxicaci¢n                               253
Amenaza de Suicidio                        148
Acompa¤amiento Evento                       99
Violencia Sexual                            69
Maltrato                                    38
Electrocuci¢n / rescate                     18
Sangrado Vaginal                            18
Quemaduras                                  12
Solicitud de Apoyo                          11
Name: TIPO_INCIDENTE, dtype: int64

In [448]:
# valores por columna
new_data["TIPO_INCIDENTE"]

0                      Suba
1                      Suba
2        Rafael Uribe Uribe
3            Ciudad Bol¡var
4                   Usaqun
                ...
13021          Los M rtires
13022          Los M rtires
13023              Engativ
13024              Engativ
13025              Fontib¢n
Name: LOCALIDAD, Length: 13026, dtype: object

In [430]:
# Eliminar los registros duplicados, dejando solo el primer registro
print("filas y columnas", new_data.shape)
new_data = new_data.drop_duplicates()
print("filas y columnas sin duplicados", new_data.shape) 
# resetear indices de la tabla
new_data = new_data.reset_index(drop=True)

filas y columnas (13055, 11)
filas y columnas sin duplicados (13026, 11)

In [432]:
def str_to_datetime(value_str):
    try:
        var_datetime2 = parse(value_str, dayfirst=False)
        var_datetime = pd.to_datetime(var_datetime2)
    except Exception as e:
        #print(value_str, e)
        var_datetime = np.nan
    return var_datetime

In [433]:
# iterar por cada registro para convertir a datetime Campo FECHA_INICIO_DESPLAZAMIENTO_MOVIL

fecha_ini_despl_movil = new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]
list_fecha_ini_despl_movil = list()

for i in range(0,len(fecha_ini_despl_movil)):
    result_ini_despl_movil = str_to_datetime(fecha_ini_despl_movil[i])
    list_fecha_ini_despl_movil.append(result_ini_despl_movil)
    
new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"] = list_fecha_ini_despl_movil
new_data["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]

0       2022-07-01 00:08:59
1       2022-07-01 00:14:58
2       2022-07-01 00:21:59
3       2022-07-01 00:38:38
4       2022-07-01 00:53:32
                ...
13021   2022-08-08 05:31:48
13022   2022-08-08 10:38:32
13023   2022-08-08 11:23:01
13024   2022-08-08 11:23:01
13025                   NaT
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 13026, dtype: datetime64[ns]

In [434]:
# iterar por cada registro para convertir a datetime Campo RECEPCION

fecha_recepcion = new_data["RECEPCION"]
list_fecha_recepcion = list()

for i in range(0,len(fecha_recepcion)):
    result_fecha_recepcion = str_to_datetime(fecha_recepcion[i])
    list_fecha_recepcion.append(result_fecha_recepcion)
    

new_data["RECEPCION"] = list_fecha_recepcion
new_data["RECEPCION"]

0       2022-07-01 03:40:13
1       2022-07-01 03:38:13
2       2022-07-01 04:08:24
3                       NaT
4       2022-07-01 03:25:29
                ...
13021   2022-08-08 06:48:00
13022                   NaT
13023   2022-09-08 13:13:00
13024                   NaT
13025                   NaT
Name: RECEPCION, Length: 13026, dtype: datetime64[ns]

In [435]:

# remplazar valor SIN_DATA a 0
new_data["EDAD"]  = new_data["EDAD"].replace({"SIN_DATO": 0})
# convertir columna a int64
new_data = new_data.astype({"EDAD":'int64'},errors = 'ignore') 
# ver columna
new_data["EDAD"]

0        88
1        16
2        52
3         0
4        33
         ..
13021    18
13022     0
13023    11
13024    19
13025     0
Name: EDAD, Length: 13026, dtype: int64

In [436]:
# remplazar valor SIN_DATA a Null
new_data["GENERO"]  = new_data["GENERO"].replace({"SIN_DATO": np.nan}) 
new_data["UNIDAD"]  = new_data["UNIDAD"].replace({"SIN_DATO": np.nan}) 


new_data["UNIDAD"].value_counts(dropna=False)

A¤os     6781
NaN      6195
Meses      39
Horas       6
Dias        5
Name: UNIDAD, dtype: int64

In [482]:
# Remplazar Caracter especial por palabra
new_data["UNIDAD"]  = new_data["UNIDAD"].replace({"A¤os": "Años"}) 
new_data["TIPO_INCIDENTE"]  = new_data["TIPO_INCIDENTE"].replace({"Convulsi¢n": "Convulsión","Dolor Tor cico": "Dolor Torácico","S¡ntomas Gastrointestinales": "Sintomas Gastrointestinales","Ca¡da de Altura": "Caida de Altura","Patolog¡a Ginecobsttrica": "Patologia Gineco Obstétrica","Intoxicaci¢n": "Intoxicación","Acompa¤amiento Evento": "Acompañamiento Evento","Electrocuci¢n / rescate": "Electrocución / rescate"}) 
new_data["LOCALIDAD"]  = new_data["LOCALIDAD"].replace({"Engativ ": "Engativá","Ciudad Bol¡var": "Ciudad Bolívar","Fontib¢n": "Fontibón","Usaqun": "Usaquén","San Crist¢bal": "San Cristóbal","Los M rtires": "Los Mártires","Antonio Nari¤o": "Antonio Nariño"}) 
new_data["LOCALIDAD"].value_counts()

Kennedy               1740
Suba                  1323
Engativá              1304
Bosa                  1065
Ciudad Bolívar        1009
Puente Aranda          742
Fontibón               670
Usaquén                667
Rafael Uribe Uribe     601
Usme                   597
San Cristóbal          595
Chapinero              507
Tunjuelito             391
Barrios Unidos         389
Los Mártires           379
Teusaquillo            361
Santa Fe               356
Antonio Nariño         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64